body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }
       
        h1 {
            text-align: center;
            margin-top: 30px;
        }
       
        #access-container {
            width: 430px;
            margin: 50px auto;
            background-color: #ffffff;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 300px;
            left: 600px;
        }
       
        label {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: bold;
        }
       
        input[type="number"] {

            width: 400px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }
       
        button {
            margin: 0 60px ;
            display: block;
            width: 300px;
            padding: 10px;
            background-color: #5658b8;
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
       
        button:hover {
            background-color: #5658b8;
        }
       
        #access-result {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }
.img img{
   width: 100vw; 
   height: 100vh;
   filter: opacity(0.8);
}